h1 {
    text-align: center;
    margin: 200px 0 50px 0;
}

img.main-logo {
    height: 150px;
}

.loginContainer {
    background-color: #d3d3d3;
    border: 3px solid #808080;
    border-radius: 25px;
    padding: 50px;
    align-self: center;
}

#entrar {
    width: 100%;
}